html {
    box-sizing: border-box;
}

  *,
  *::before,
  *::after {
    box-sizing: inherit;
}


:root {
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --caption-text-color: #FFFFFF;
    --button-bg-color: #F5F4FA;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}


/* navigation menu */

.nav-container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 2px solid teal;
}


.logo,
.caption-contacts {
    text-decoration: none;
}

.header-web {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.header-studio {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.navigation .navigation-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none; 
}

.navigation,
.features,
.features-list,
.team,
.team-networks,
.customers,
.footer-networks {
    list-style: none;
}

.navigation .navigation-link:hover,
.navigation .navigation-link:focus {
    color: var(--accent-text-color);
}

.contacts .contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
}

.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-text-color);
}



                                    /* Web Studio main page */

/* Hero */

.hero .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--caption-text-color);
    background-color: cornflowerblue;

    margin-bottom: 46px;
}

.hero .primary-btn {
    font-weight:700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--caption-text-color);
    text-decoration: none;

    min-width: 200px;
    height: 50px;
    background: var(--accent-text-color);
    border-radius: 4px;

    padding: 10px 32px;
}

/* Features */
.features-item .features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    background-color: cornflowerblue;
}

.features-item .features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.features .features-pic:hover {
    background-color: var(--accent-text-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.features-item .caption-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--caption-text-color);
    background-color: cornflowerblue;
}

/* Our team */

.team-list .team-list-title {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--title-text-color);
}

.team-list .main-text {   
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
color: var(--main-text-color);
}

/* Footer */
.footer-web {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--accent-text-color);
}

.footer-studio {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--caption-text-color);
}

.caption {
    background-color: #2F303A;
}

.location {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--caption-text-color)
}

.caption-contacts {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.caption-title {
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--caption-text-color);
}

.caption-dev {
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}

                                        /* Web Studio Portfolio page */


.filter,
.portfolio {
    list-style: none;
}

.portfolio a {
    text-decoration: none;
}

.filter .filter-item {
    background: var(--button-bg-color);
    color: var(--title-text-color);
    border-radius: 4px;
    text-align: center;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.filter .filter-item:hover,
.filter .filter-item:focus {
    background: var(--accent-text-color);
    color: var(--caption-text-color);
}

.portfolio .portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}

.portfolio-caption {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.portfolio-description {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--caption-text-color);

    background-color: cornflowerblue;
}














/* navigation

.navigation, .contacts {
    color: var(--title-text-color);
    font-style: 400;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;   
}

.navigation .navigation-link {
    color: var(--title-text-color);
    text-decoration: none;
    list-style: none;
}

.navigation-link, 
.contacts-link, 
.caption-contacts,
.caption-contacts {
    text-decoration: none;
}

.features-item {
    list-style: none;
}

.navigation .navigation-link:hover,
.navigation .navigation-link:focus,
.contacts .contacts-link:hover,
.contacts .contacts-link:focus {
    color: var(--accent-text-color);
    
}

/* Features 

.features .features-title {
    color: var(--title-text-color);
}

.features-title {
font-weight: 700;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.features-text {
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.features .features-text {
    color: var(--main-text-color);
}

.title, .caption-title {
    color: var(--title-text-color);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
}

.caption-title {
    color: var(--caption-text-color);
    background: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
    width: 380px;
    height: 70px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.team-list,
.networks {
    list-style: none;
} 

.team-list-title {
font-weight: 500;
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
}

.main-text {
    color: var(--main-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

.features-pic:hover {
    background-color: var(--accent-text-color);
}

.customers {
    list-style: none;
}

.caption-contacts {
    color: rgba(255, 255, 255, 0.6);
}

.caption-dev {
    color: rgba(255, 255, 255, 0.4);
}

.caption {
    background-color: #2F303A;
}

.team-section {
    background-color: #F5F4FA;;
}

button {
    color: var(--title-text-color);
    background-color: var(--button-bg-color);
}

button:hover,
button:focus {
    color: var(--caption-text-color);
    background-color: var(--accent-text-color);
} */